.pic{
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    justify-self: center;
    box-shadow:0px 0px 10px 10px rgb(168, 176, 185);
}
.pic:hover{
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    justify-self: center;
    box-shadow:0px 0px 10px 10px rgb(65, 65, 66);
}
.j{
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}
